<% include partials/header %>
<div class="container">
  <div class="row justify-content-sm-center">
    <div class="col-sm-5">
      <div class="login-header">
        <h1>Sign up to YelpCamp!</h1>
        <form class="login" action="/register" method="POST">
          <div class="form-group">
            <input class="form-control form-control-lg" type="text" name="username" placeholder="Username">
            <input class="form-control form-control-lg" type="password" name="password" placeholder="Password">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Sign up</button>
          </div>
        </form>
      </div>
    </div>
</div>
