body {
  background-image: url('http://i.imgur.com/K3mPv14.jpg');
  background-size: cover;
}
.jumbotron, .card {
  background: rgba(240, 240, 240, 0.74);
}

h1 {
  text-shadow: 0 2px 3px #afafaf;
}

.img-thumbnail {
  width: 100%;
}

.comments {
  background: #f3f3f3;
}

.navbar-text {
  padding-top: .5rem;
  padding-right: 2rem;
}

.card-group {
  margin-top: 2rem;
}

.card-button {
  margin-left: 0.25rem;
}

.card-block.comment > * {
  display: inline;
}

.card-block.comment > .card-title {
  color: #222;
  margin-right: 1rem;
}

.card-block.comment > .submitted-date {
  color: #aaa;
}

.card-block.comment > .card-text {
  display: block;
  margin-top: 1rem;
  color: #222;
}
